body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Calibri';
  text-transform: lowercase;
}

#grid {
    display: inline;
    float: left;
    width: 80%;
    background-color: White;
}

table {
  margin: auto;
  border-spacing: 1px;
}

#sizeText {
  font-family: 'Verdana';
  color: SlateGrey;
}

#control_panel {
    display: inline;
    float: left;
    width: 20%;
    text-align: left;
    color: SlateGrey;
}

#control_panel h1, #control_panel h2 {
    font-family: 'Century';
    text-align: center;
    font-size: 1.5em;
}

#control_panel h2 {
    font-size: 1em;
    text-transform: none;
}

#control_panel button {
    background-color: Aquamarine;
    color: Grey;
    text-decoration: none;
    border: none;
    box-shadow: 0px 0px 1px black inset;
    font-family: 'Calibri';
    text-transform: lowercase;
    font-size: 100%;
}

#control_panel button:hover {
    opacity: 0.7;
    background-color: white;
}

#control_panel button:focus {
    outline: none;
}

#control_panel label {
    color: black;
    font-size: 0.85em;
}

fieldset {
    border: 1px solid SlateGrey;
}

p[id="#edge_eval_label"] {
    font-size: 1em;
    color: Red;
}

input[type="range"] {
    appearance: none;
    width: 100%;
}

#buttons, #grid_size, #step_speed, #r, #l, #o, #g_min, #g_max {
    display: block;
    margin-bottom: 1em;
}

#edge_eval_dead, #edge_eval_live {
    margin-right: 1.5em;
}

label, label>div {
    display: inline;
}

td {
  background-color: LightGrey;
  width: 30px;
  height: 30px;
}

.live {
  background-color: Aquamarine;
  box-shadow: 0px 0px 3px black inset;
}

.dead {
  background-color: SlateGrey;
}