body {
  background-color: cornflowerblue;
  text-align: center;
  font-family: Century;
  color: #ffffff;
  font-size: 2em;
  background-image: url("");
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 0px 1px 4px #000000;
}

p {
  text-shadow: 0px 1px 4px #000000;
}

a, a:visited, a:active {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  text-shadow: 0px 1px 5px #000000;
}
