html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #000000;
  text-align: center;
  font-family: Calibri, Georgia, Times;
  color: #ffffff;
  background-image: url("t8giol3_sdi-frances-gunn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1:first-child {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, Times, Sans-Serif;
  text-shadow: 0px 1px 4px #000000;
}

p {
  font-family: Calibri, 'Lato', Sans-Serif;
  text-shadow: 0px 1px 4px #000000;
  opacity: 0;
}

a, a:visited, a:active {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  color: #ffffff;
}

#golden-ratio-space {
  padding: 0px;
  margin: 0px;
  min-height: 38%;
  height: 38%;
}

#overlay-block {
  display: block;
  font-size: 1em;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}

#overlay-block > h2:first-child {
  margin: auto;
}
