html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: cornflowerblue;
  text-align: center;
  font-family: Calibri, Georgia, Times;
  color: #ffffff;
  background-image: url("t8giol3_sdi-frances-gunn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, Arial, Sans-Serif;
  text-shadow: 0px 1px 4px #000000;
}

p {
  font-family: Calibri, 'Lato', Sans-Serif;
  text-shadow: 0px 1px 4px #000000;
}

a, a:visited, a:active {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  color: #ffffff;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

table, th, tr, td {
  margin: 0px;
  padding: 0px;
}

#golden-ratio-space {
  padding: 0px;
  margin: 0px;
  min-height: 38%;
  height: 38%;
}

#banner {
  font-size: 2em;
  margin-bottom: 128px;
}

.overlay-block {
  display: block;
  font-size: 1.2em;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 2px #000000;
}

.overlay-block[id="header"] {
/*   padding: 32px, 5%, 16px, 5%; */
}

.overlay-block h2 {
  padding: 0%;
/*   margin: 16px, 5%, 16px, 5%; */
}

.overlay-block[id="main"] {
  padding: 5%;
}

.overlay-block[id="main"] th, .overlay-block[id="main"] td {
  padding: 8px;
  border-radius: 8px;
}

.overlay-block[id="main"] th:hover, .overlay-block[id="main"] td:hover {
  background-color: rgba(256, 256, 256, 0.05);
}

.overlay-block th {
  width: 15%;
  padding-right: 3%;
}

.overlay-block td {
  vertical-align: top;
  width: 15%;
  padding-right: 3%;
}

.overlay-block th:last-child, #overlay-block td:last-child {
  padding-right: 0%;
}
